.folha{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    padding: 5%;
    margin: 5%;
    background-color: rgb(48, 48, 48);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

h1 {
    color: aquamarine;
}

.base1{
    float: center;
}

label {
    color: aquamarine;
}

#resultado, #conversao {
    color: white;
    align-self: center;
    padding: 10px;
    outline: none;
    margin-bottom: 8px;
    border: solid green 1px;
    background-color: rgb(48, 48, 48);
    cursor: pointer;
    transition: all ease-in-out 300ms;
}

.converte, .limpando {
    margin: 20px;
    color: white;
    align-self: center;
    padding: 10px;
    outline: none;
    margin-bottom: 8px;
    border: solid green 1px;
    background-color: black;
    cursor: pointer;
    transition: all ease-in-out 300ms;
}

.converte:hover, .converte:active {
    background-color: green;
    color: white;
}

.limpando:hover, .limpando:active {
    background-color: green;
    color: white;
}

#espaco{
    padding: 25px;
}

.resultados{
    background-color: rgb(48, 48, 48);
    padding: 0px 0px 0px 10px;
    text-align: left;
}

#entrada, #result {
    color: white;
    padding: 5px 7px;
    margin: 10px 0px;
    background-color: rgb(48, 48, 48);
    outline: none;
    border: solid green 1px;
}

#conversao, #resultado {
    align-self: baseline;
    margin: 15px;
    padding: 4px;
}

